<div class="profile_card d-flex h-100 align-items-center justify-content-center">
 <div class="card d-flex justify-content-center align-items-center">
  <div class="image mb-3">
    <img src="../assets/images/images.jpg" class="profile_image" alt="">
  </div>
  <div class="text-data text-center">
    <span class="name">Coding Lab</span>
    <span class="job">Webdevelopment</span>
  </div>
  <div class="media-buttons">
    <a href="" class="link">
      <i class='bx bxl-facebook'></i>
    </a>
    <a href="" class="link">
      <i class='bx bxl-instagram' ></i>
    </a>
    <a href="" class="link">
      <i class='bx bxl-youtube' ></i>
    </a>
    <a href="" class="link">
      <i class='bx bxl-twitter' ></i>
    </a>
  </div>
 </div>
</div>