<div class="profile_card ">
  <div class="card d-flex justify-content-center align-items-center">
    <div class="image mb-3">
      <img src="../assets/images/images.jpg" class="profile_image" alt="">
    </div>
    <div class="text-data text-center">
      <span class="name">Coding Lab</span>
      <span class="job">Webdevelopment</span>
    </div>
    <div class="media-buttons d-flex mt-3">
      <a href="" style="background: #4267b2;" class="link">
        <i class='bx bxl-facebook'></i>
      </a>
      <a href="" style="background:#1da1f2 ;" class="link">

        <i class='bx bxl-twitter'></i>
      </a>
      <a href="" style="background:#e1306c ;" class="link">

        <i class='bx bxl-instagram'></i>
      </a>
      <a href="" style="background:#ff0000 ;" class="link">
        <i class='bx bxl-youtube'></i>
      </a>
    </div>
    <div class="buttons">
      <div class="button">Subscribe</div>
      <div class="button">Message</div>
    </div>
    <div class="analaytics d-flex mt-3">
      <div class="data">
        <i class='bx bx-heart'></i>
        <span class="number">60k</span>
      </div>
      <div class="data">
        <i class='bx bx-message-rounded-dots' ></i>
        <span class="number">20k</span>
      </div>
      <div class="data">
        <i class='bx bx-share' ></i>
        <span class="number">6k</span>
      </div>
    </div>
  </div>
</div>